<a href="https://colab.research.google.com/github/carolina-garay/M_Espacios_Verdes_2022_Grupo1/blob/Seba-Ormaechea/P1_EspVerdes_Grupo1_SGO_v1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Espacios Verdes. Práctico de análisis y visualización
Grupo 1: 
- Artola, María Fernanda
- Garay, Carolina
- Nievas, Rafael
- Ormaechea, Sebastián

## Introducción
El monitoreo de espacios verdes mediante sensores remotos, puede ser una alternativa interesante para aquellos municipios que busquen preservar el buen estado de estos espacios, reduciendo la necesidad de personal especializado para el control in situ. Sería interesante que este monitoreo implique la sistematización de tareas de control y brinde indicadores efectivos para advertir estados de deterioro que requieran ser atendidos. Se espera que el análisis de datos provistos con imágenes satelitales e indicadores como NVDI, permita detectar cambios en la condición de la vegetación a través de las estaciones del año y eventualmente detectar cambios anormales que representen estados preliminares de degradación de estos espacios. 
Por otro lado, es posible que la resolución de las imagenes no permita detectar cambios a nivel de arboles individuales o que en casos de vegetación multiestratificada no se puedan advertir los cambios en cado estrato.

## Presentación del Dataset
El dataset disponible se encuentra en formato tabular y cuenta con 167 columnas que caracterizan cada uno de los 208932 registros (filas) disponibles.
Cada registro representa un raster pre-procesado de diferentes espacios verdes de la ciudad de Córdoba, tomados en diferentes fechas desde el año 2017 al 2022. Estos rasters se generaron.............. y fueron obtenidos a partir de imágenes del satálite Sentinel con una resolución de entre 2 a 10 metros. Para la descarga de estas imágenes primero se definió la zona general de interés y también ciertas características o features específicas para abordar el problema de interés. En el caso del presente dataset, la zona de interés es la Ciudad de Córdoba, la cual es enteramente captada por una pisada del satelite denominada Tile 20JLL. La obtención de diferentes fechas para una misma zona es lo que permite luego un análisis de evolución temporal de la vegetación. A su vez, dentro de cada zona, se cuenta con los ROIs (Region of interest) que son cada una de las plazas, parques, etc.
Las columnas representan las siguientes características: ......

Comentario sobre la sección "Introducción" y "Presentación del dataset": 
- Me es muy difícil describir estas secciones abstrayéndome del término "raster" como se solicita en las instrucciones del práctico.
- No comprendo a qué se refiere con hacer algo vistoso o demostrativo en la sección "Presentación del dataset".

In [ ]:
# Setup necesario para correr pandas profiling
!pip install pandas_profiling==2.8.0
!pip install pandas==1.2.0

In [ ]:
# Descarga de base de datos
# from link @ https://github.com/felixlapalma/monitoreo-espacios-verdes-diplo202X/blob/main/data/ab-initio-dataset-build.md
!gdown https://drive.google.com/file/d/1tgbIQaEXzIghcFYyd2YM9iMho4TDHHFd/view?usp=sharing --fuzzy

In [3]:
import pandas as pd

In [4]:
# Lectura de csv y obtención de dataframe 
df_=pd.read_csv('/content/espacios-verdes-indexs-cba-20170101-20220420.zip',index_col=0)

In [6]:
# Exploración del dataset. Usamos "display" en lugar de "print" porque ofrece una mejor visualización de la tabla
display(df_.head())

Dataframe HEAD

,B02_min,B02_max,B02_mean,B02_median,B02_nodata,B02_range,B02_count,B03_min,B03_max,B03_mean,...,sipi_median,sipi_nodata,sipi_range,sipi_count,raster,clouds_on_raster,osm_id,name,area_m2,date
0,0.0871,0.1421,0.102570,0.09650,0.0,0.0550,47,0.0768,0.1516,0.098885,...,0.884216,0.0,0.453065,47,S2A_MSIL1C_20170103T142022_N0204_R010_T20JLL_2...,0.0,605976736,NaN,4650.710032,2017-01-03
1,0.0970,0.1936,0.118354,0.10660,0.0,0.0966,13,0.1006,0.1949,0.122154,...,0.971875,0.0,0.247045,13,S2A_MSIL1C_20170103T142022_N0204_R010_T20JLL_2...,0.0,559322368,NaN,1502.000513,2017-01-03
2,0.0992,0.1273,0.111805,0.11290,0.0,0.0281,19,0.1037,0.1369,0.117795,...,0.973017,0.0,0.207006,19,S2A_MSIL1C_20170103T142022_N0204_R010_T20JLL_2...,0.0,559322369,NaN,2004.192528,2017-01-03
3,0.0995,0.1933,0.118491,0.11355,0.0,0.0938,66,0.0993,0.1990,0.124512,...,0.966202,0.0,0.258424,66,S2A_MSIL1C_20170103T142022_N0204_R010_T20JLL_2...,0.0,559328111,NaN,6940.507640,2017-01-03
4,0.1059,0.1385,0.122453,0.12240,0.0,0.0326,47,0.1036,0.1580,0.132455,...,0.993986,0.0,0.260419,47,S2A_MSIL1C_20170103T142022_N0204_R010_T20JLL_2...,0.0,559328112,NaN,4587.356048,2017-01-03

In [7]:
display(df_.tail())

Dataframe TAIL

,B02_min,B02_max,B02_mean,B02_median,B02_nodata,B02_range,B02_count,B03_min,B03_max,B03_mean,...,sipi_median,sipi_nodata,sipi_range,sipi_count,raster,clouds_on_raster,osm_id,name,area_m2,date
208927,0.0990,0.1684,0.115990,0.11270,0.0,0.0694,31,0.0862,0.1627,0.107387,...,0.892669,0.0,0.545993,31,S2A_MSIL1C_20220417T141741_N0400_R010_T20JLL_2...,0.0,307532496,NaN,3824.467794,2022-04-17
208928,0.1145,0.3240,0.149746,0.13665,0.0,0.2095,80,0.0977,0.3363,0.149332,...,1.084102,0.0,2.805242,80,S2A_MSIL1C_20220417T141741_N0400_R010_T20JLL_2...,0.0,307535460,Plaza Exodo Jujeño,7184.535857,2022-04-17
208929,0.0993,0.1388,0.110870,0.10625,0.0,0.0395,10,0.0930,0.1473,0.106160,...,0.914887,0.0,0.199024,10,S2A_MSIL1C_20220417T141741_N0400_R010_T20JLL_2...,0.0,307796387,NaN,1147.997645,2022-04-17
208930,0.0991,0.1407,0.124008,0.12570,0.0,0.0416,53,0.0852,0.1377,0.118574,...,0.991200,0.0,0.299910,53,S2A_MSIL1C_20220417T141741_N0400_R010_T20JLL_2...,0.0,307097955,NaN,5185.690046,2022-04-17
208931,0.0874,0.1347,0.104697,0.10180,0.0,0.0473,95,0.0707,0.1321,0.095941,...,0.889747,0.0,0.456241,95,S2A_MSIL1C_20220417T141741_N0400_R010_T20JLL_2...,0.0,901791744,NaN,9394.381202,2022-04-17

In [8]:
display(df_.info())

Dataframe INFO
<class 'pandas.core.frame.DataFrame'>
Int64Index: 208932 entries, 0 to 208931
Columns: 167 entries, B02_min to date
dtypes: float64(140), int64(24), object(3)
memory usage: 267.8+ MB

None

In [9]:
display(df_.describe())

Dataframe DESCRIBE

,B02_min,B02_max,B02_mean,B02_median,B02_nodata,B02_range,B02_count,B03_min,B03_max,B03_mean,...,sipi_min,sipi_max,sipi_mean,sipi_median,sipi_nodata,sipi_range,sipi_count,clouds_on_raster,osm_id,area_m2
count,167269.000000,167269.000000,167269.000000,167269.000000,208932.000000,167269.000000,208932.000000,167264.000000,167264.000000,167264.000000,...,1.672600e+05,1.672600e+05,1.672600e+05,167260.000000,208932.000000,1.672600e+05,208932.000000,208932.000000,2.089320e+05,2.089320e+05
mean,0.109851,0.166474,0.131182,0.129623,25.194393,0.056624,99.740877,0.099372,0.164881,0.125957,...,-1.688595e+35,1.708939e+35,NaN,0.969624,25.204545,3.397534e+35,99.730726,19.473638,4.343631e+08,1.249388e+04
std,0.030815,0.050951,0.034782,0.035332,341.298796,0.042698,699.326759,0.032069,0.051504,0.035032,...,7.578372e+36,7.623866e+36,NaN,0.253205,341.495289,1.125051e+37,699.314819,33.424013,2.141069e+08,7.895730e+04
min,0.000100,0.067000,0.062357,0.061900,0.000000,0.000000,0.000000,0.022000,0.048400,0.045698,...,-3.402823e+38,-9.347826e+00,-inf,-22.149998,0.000000,0.000000e+00,0.000000,0.000000,1.331006e+06,4.225951e+02
25%,0.093000,0.138700,0.112461,0.110300,0.000000,0.033900,11.000000,0.081000,0.136100,0.106518,...,7.514496e-01,1.040685e+00,9.009012e-01,0.891668,0.000000,2.119307e-01,11.000000,0.000000,2.867065e+08,2.066559e+03
50%,0.102700,0.154100,0.124327,0.122800,0.000000,0.046500,29.000000,0.092800,0.154000,0.119943,...,8.494449e-01,1.189367e+00,9.696900e-01,0.956522,0.000000,3.560274e-01,29.000000,0.000000,3.596742e+08,3.812182e+03
75%,0.116300,0.175900,0.138747,0.137800,0.000000,0.064300,56.000000,0.108400,0.178100,0.135888,...,9.036525e-01,1.456376e+00,1.072648e+00,1.054187,0.000000,6.366461e-01,56.000000,25.009939,6.059767e+08,6.644794e+03
max,0.631700,0.980300,0.684304,0.689700,13701.000000,0.891300,13701.000000,0.621800,1.064300,0.679233,...,1.887117e+00,3.402823e+38,inf,16.321413,13701.000000,6.805647e+38,13701.000000,100.000000,9.249657e+08,1.370630e+06

In [ ]:
# Importación necesaria para correr pandas profiling
from pandas_profiling import ProfileReport

In [ ]:
BANDS = ["B02", "B03", "B04", "B05", "B06", "B07", "B8A", "B08", "B11", "B12"]
TEST_COLS=[f"{B}_median" for B in BANDS]

In [ ]:
df_.loc[:,TEST_COLS]
df_test=df_.loc[:,TEST_COLS]
df_test.head()

In [ ]:
profile = ProfileReport(df_test)

In [ ]:
profile.to_file('/content/pandas-profiling-test.html')

In [ ]:
profile.to_notebook_iframe()

## Análisis Estadístico de Variables

Deberán realizar un análisis estadístico riguroso de variables que seleccionen por ser de su interés (entre 2 y 4), incluyendo en el set al menos una banda y un indice. 

Deberán responder preguntas como:

-   _Variables_: ¿Qué _tipo de variable_ es cada una? Parecen estar acotadas? (Puede ser interesante suplementar con alguna bibliografia extra respecto a que valores puede  tener un indice o banda) ¿Son fisicamente razonables?
-   _Outliers_: ¿Existen _outliers_ en las variables seleccionadas? (Note que en la presentación de los datos, esto parece estar presente en casi todos los casos)
-   _Valores Faltantes_: ¿Existen? ¿Es mejor descartarlos o completarlos con un valor particular? (Quizas le sirva responder la siguiente pregunta en primer lugar)
-   _Distribucion de Valores_: ¿Cómo es la _distribución_ de las variables en el dataset? ¿Se parecen a alguna distribucion que recuerde? Son todas de la misma distribución?
-   _Distribucion Condicionada_: ¿Cómo es la distribución de una variable (cualquiera que haya elegido) condicionada a la variable temporal por ejemplo? ¿Tiene sentido utilizar la dependencia temporal cuando estamos intentando completar valores faltantes?

En caso de calcular estadísticos, explicar por qué lo hicieron y que buscaban obtener al calcularlos. Utilizar los gráficos apropiados para mostrar el análisis realizado.  
Además:


-  ¿Existe _correlacion_ entre variables? ¿Entre cuales es mas "intensa"? -> Considere utilizar  [__pandas-profiling__](https://github.com/ydataai/pandas-profiling)
-  Analizar la dispersión de las bandas (para un estadistico, por ejemplo la media) a lo largo del tiempo. ¿La dispersión es la misma en todos los casos? ¿O existen bandas que "se dispersan" mas?

Utilizar gráficos que permitan visualizar de un modo simple las conclusiones.

##Series temporales
Como las observaciones se encuentran indexadas en el tiempo, este tipo de datos se conocen como **series de tiempo**. Elija alguno de los espacios verdes mas conocidos (Parque Sarmiento por ejemplo) y responda: 

- ¿Cual es el período de tiempo bajo análisis?
- Elija una banda y un indice (B02 y NDVI, por ejemplo) ambos parecen seguir alguna estacionalidad? Es decir, sus valores parecen "repetirse" cada cierto periodo? (Para este analisis considere utilizar la mediana de todas las mediciones {}_median).
- Ahora extienda el analisis a todas las variables, son estacionales? Todas tienen el mismo tipo de estacionalidad? __Nota__: En este punto y etapa no se espera un criterio estricto de estacionalidad sino mostrar que bajo algun criterio (por ejemplo boxplots "similares" por temporada, etc) parecen serlo.
- Seleccione un índice y grafique un boxplot para cada año. ¿Se mantiene inalterada en el tiempo la distribución? Que pasa si ese boxplot lo separa por estación (invierno,verano,otoño, primavera) y año son parecidas entre ellas en algun caso? Como se comportan año a año?
- Tiene sentido calcular outliers para todo el tiempo de la serie o deberia segmentarse? Es decir, un outlier en otoño es lo mismo que en primavera o verano?
- Sobre datos faltantes, existe algun intervalo temporal en el cual esto parezca ser mas recurrente (observe [ab-initio-data-build](../data/ab-initio-dataset-build.md) # Imagenes CBA) ? 

    __Punto Extra__: replique la imágen _cantidad de imágenes por fecha y nubosidad_, se le ocurre alguna forma alternativa de representarlo?
- Sobre los outliers, elija alguna banda o indice y compute los outliers (bajo algun criterio que le parezca razonable), ahora contraste los mismos (o el rango de los mismos) con la representacion de los rasters ( descargables desde: [parches rbg/cloud-mask](https://drive.google.com/file/d/1VJnFvc9waDWPzm0i6UitKwlOSaQVwn_j/view?usp=sharing) ), su eleccion de outliers parece sostenerse? O esta desechando datos que podrian servir?
- __Punto Extra__: Explique el indice NDVI, y su aplicabilidad para observar la evolución de cultivos. ¿Esto nos serviria para monitorear plazas y parques?
- __Punto Extra__: Se le ocurre alguna forma de normalizar los datos para hacernos independientes de los años (pero si mantener la estacionalidad)? 
- __Punto Extra__: El tipo de sensor que estamos considerando esta afectado fuertemente por las condiciones luminicas, puede encontrar algún par de {imagenes, indices} que parezcan representar esta situación? Para ello deberia seleccionar imagenes cercanas temporalmente (misma semana o mes, sin nubes) y obtener sus indices. Podria concluir algo a partir de eso? O le hacen falta mas datos? (Respuesta preliminar: la informacion brindada parece ser insuficiente) 
- ¿Dado un indice, es capaz de encontrar algun rango temporal en el cual parezca romperse la estacionalidad? (Esto lo podria intentar contrastar con las imagenes en rgb para ello le recomendamos que elija un espacio verde extenso)
- Le parece que existen espacios verdes que no sean susceptibles de ser monitoreados via las bandas o indices? 

    __Punto Extra__: Podria generar condiciones o criterios (tamaño, reflectancia en alguna banda, etc) que nos indiquen si un dado espacio es monitoreable ( o no) via imágenes satelitales?

##Conclusiones
Se considerará como positivo la capacidad de generar conclusiones o analisis que permitan construir nuevo conocimiento en base a los datos provistos.
Respecto a las conclusiones, se espera que a partir de los puntos [3] y [4] hayan podido conocer el dataset y tener una idea (linea de acción) para mitigar o atacar temas tales como:
- Outliers?
- Faltantes de datos?
- Todas las variables son relevantes?
- etc

No hay límites respecto a la extensión, pero se valorará el poder de síntesis y de comunicación, así como el uso de las herramientas pertinentes..